.containerdark {
  padding: 0 2rem;
  align-content: center;
  background-color: #212529;
}

.container {
  padding: 0 2rem;
  align-content: center;
  background-color: white;
}

.main {
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}

.maindark {
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  color: white;
}

.titledark {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: white;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: black;
}

.buttonscontainer {
  display: flex;
  flex-direction: row;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer a:hover {
  text-decoration: underline;
}

.footertext {
  color: black;
}

.footertextdark {
  color: white;
}
